{extend name='main'}

{block name="button"}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <!--<fieldset>-->
        <!--<legend>条件搜索</legend>-->
        <!--<form class="layui-form layui-form-pane form-search"-->
              <!--onsubmit="return false" method="get" autocomplete="off">-->
            <!--<div class="layui-form-item layui-inline">-->
                <!--<button class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 搜 索</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</fieldset>-->
</div>
<script>window.form.render()</script>
{/block}
