{extend name='main'}

{block name="button"}
<button data-modal='{:url("add")}' data-title="添加菜单" class='layui-btn layui-btn-sm layui-btn-primary'>添加菜单</button>
<button data-action='{:url("remove")}'  class='layui-btn layui-btn-sm layui-btn-primary'>删除菜单</button>
{/block}

{block name="content"}
<div class="think-box-shadow">
    <!--<fieldset>-->
        <!--<legend>条件搜索</legend>-->
        <!--<form class="layui-form layui-form-pane form-search"-->
              <!--onsubmit="return false" method="get" autocomplete="off">-->
            <!--<div class="layui-form-item layui-inline">-->
                <!--<button class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 搜 索</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</fieldset>-->
    <table class="layui-table" id="dataTable"></table>
</div>
<script>window.form.render()</script>
<script type="text/html" id="barField">
    {{# if(d.spt < 2){ }}
        <a class="layui-btn layui-btn-xs layui-btn-primary" >添 加</a>
    {{# }else{ }}
        <a class="layui-btn layui-btn-xs layui-btn-disabled">添 加</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {{# if(d.status == '1'){ }}
        <a class="layui-btn layui-btn-warm layui-btn-xs" >禁 用</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-warm layui-btn-xs" >启 用</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table'], function(){
        var table = layui.table;
        table.render({
            elem: '#dataTable',
            url: "{:url('getRuleList')}",
            page: true,
            cols: [[
                {field: 'id', title: 'ID',  fixed: 'left'},
                {field: 'icon', title: '图标', templet: function (d) {
                        return '<span class="'+d.icon+'"></span>';
                }},
                {field: 'title', title: '菜单名称', templet: function (d) {
                    return d.spl+d.title;
                }},
                {field: 'rule', title: '路由'},
                {field: 'type', title: '类型', templet: function(d){
                    switch (d.type) {
                        case '1':
                            return '菜单';
                        case '2':
                            return '接口访问';
                    }
                }},
                {field: 'status', title: '状态', templet: function(d){
                    switch (d.status) {
                        case '0':
                            return "<span style='color: red'>已禁用</span>";
                        case '1':
                            return "<span style='color: #008800'>使用中</span>";
                    }
                }},
                {field: 'create_time', title: '创建时间'},
                {fixed: 'right', title:'操作', toolbar: '#barField', width:300}
            ]]
        });
    });
</script>
{/block}
